@import "tailwindcss";

@layer base {
  * {
    box-sizing: border-box;
  }
}

@media print {
  body * {
    visibility: hidden;
  }
  #cv-preview, #cv-preview * {
    visibility: visible;
  }
  #cv-preview {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
